body{
    background-color: #000000;
    color: #b4b4cc;
    font-family: 'Ubuntu', sans-serif;
}
.title{
    color:#ff4e00;
}
.button {
    background-color: #ff4e00;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
}
.button:hover{
    transform: scale(1.2);
    background-color: #ff4e00;
}

input{
    height: 30px;
}

select{
    height: 37px;
}
.topnav {
    background-color: #1a1919;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 100;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #ff4e00;
    color: white;
  }

  .main-checkbox label {
    display: inline-block;
    padding-right: 10px;
    white-space: nowrap;
  }
  .main-checkbox input {
    vertical-align: middle;
  }
  .main-checkbox label span {
    vertical-align: middle;
  }

  
.download-btn{  
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  height: 32px;
  min-width: 60px;
  min-height: 32px;
  border: none;
  color: #fff;
  background-color: rgb(88, 101, 242);
  transition: background-color .17s ease,color .17s ease;
}

.download-btn:hover {
  background-color: rgb(71, 82, 196);
}
