body{
    background-color: #000000;
    color: #b4b4cc;
    font-family: 'Ubuntu', sans-serif;
}

.title{
    color:#ff4e00;
}

.topnav {
    background-color: #1a1919;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 100;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #ff4e00;
    color: white;
  }

  .button {
    background-color: #ff4e00;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
}
.button:hover{
    transform: scale(1.2);
    background-color: #ff4d00;
}

input{
    height: 30px;
}

select{
    height: 37px;
}
